
<div style='padding: 20px; width: 100%;'>
  <h1 style='font-size: 2em;'>Create or edit question sets</h1>
  <br/>
  <label class="padded-label">Select a question set</label>
  <div style="width: 1200px;">
    <input class='node-input'  style='width: 80%; margin-right: 40px;' value='Daily permit questions'>
    <button id="add-question" class="common-button add-question">+ Add question set</button>
  </div>
  <table class='info-table'>
    <td class="info-table td-label">Code</td><td class="info-table td-data">mde_daily_permit</td>
  </table>
  <br/>
  <label class="padded-label">Select a version</label>
  <div style="width: 1200px;">
    <input class='node-input'  style='width: 80%; margin-right: 40px;' value='Questions from MOECS 2024'>
    <button id="add-question" class="common-button add-question">+ Add new version</button>
  </div>
  <table class='info-table'>
    <td class="info-table td-label">Effective Date</td><td class="info-table td-data">08/31/2023</td>
    <td class="info-table td-label">End Date</td><td class="info-table td-data"></td>
    <td class="info-table td-label">Code</td><td class="info-table td-data">mde_daily_permit_001</td>
  </table>
</div>
<div style="height: 650px; width: 1200px; overflow: hidden; padding: 20px;">

  <tree-root
    #tree
    [nodes]="nodes"
    [options]="customTemplateStringOptions"
    [focused]="true"
    (event)="onEvent($event)"
    (initialized)="onInitialized(tree)"
  >
    <ng-template #treeNodeTemplate let-node>
      <!-- <span title="{{node.data.subTitle}}">{{ node.data.name }}</span>
      <span class="pull-right">{{ childrenCount(node) }}</span>
      <button (click)="go($event)">Custom Action</button> -->
      <ng-container *ngIf="node.data.isAnswer">
        <div id="option{{node.data.name}}{{childrenCount(node)}}">
          <div id="response">
            <label class="padded-label">Response Option</label>
            <div><input type="text" placeholder="Enter an option" class="node-input" [(ngModel)]="node.data.answerText"></div>
          </div>
        </div>
    </ng-container>
      <select id="nextselect" class="node-option-selector" [(ngModel)]="node.data.optionValue">
        <option value="question">Question</option>
        <option value="branchend">End of branch</option>
      </select>
      <ng-container *ngIf="node.data.optionValue == 'question'">
        <div id="question{{node.data.name}}{{childrenCount(node)}}">
          <div id="question">
            <div><input type="text" placeholder="Type to search for questions" class="node-input" [(ngModel)]="node.data.qText"></div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="node.data.optionValue == 'branchend'">
        <div id="branchend{{node.data.name}}{{childrenCount(node)}}">
          <div id="branchend">
            <div class="branch-end-grid">
              <label class="switch">
                <input type="checkbox" id="togBtn" [(ngModel)]="node.data.pass">
                <div class="slider round" style="display: inline-block;"> 
                  <span class="on">Pass</span>
                  <span class="off">Fail</span>
                </div>
              </label>
              <label class="message-label">Message</label>
              <input type="text" placeholder="Please type a message to display" class="message-input" [(ngModel)]="node.data.messageText">
            </div>
          </div>
        </div>
      </ng-container>
      <div id="node-buttons" class="node-buttons-grid">
        <ng-container *ngIf="node.data.qType >= 0">
          <button id="add-option" class="common-button add-option" (click)="addOption(tree, node)">+ Add response option</button>
        </ng-container>
        <button id="add-question" class="common-button add-question" (click)="addNode(tree, node)">+ Add question</button>
        <div class="spacer"></div>
        <ng-container *ngIf="node.data.optionValue == 'question'">
          <button id="qdetails" class="common-button qdetails">View details</button>
        </ng-container>
        <button id="deleteitem" class="common-button deleteitem" (click)="removeNode(tree, node)">Delete</button>
      </div>
    </ng-template>
    <ng-template #loadingTemplate></ng-template>
  </tree-root>
</div>
<br>
<div id="actionbuttons" class="page-buttons-grid">
  <button id="test" class="common-button test-button">Test</button>
  <button id="savetree"class="common-button save-button" (click)="saveState(tree)">Save tree</button>
  <div class="spacer"></div>
  <button id="clearTree"class="common-button clear-button" (click)="clearTree(tree)">Clear tree</button>
</div>
