/* You can add global styles to this file, and also import other style files */

@import '~@circlon/angular-tree-component/css/angular-tree-component.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html *
{
  font-size: 1em;
  color: #353535;
  font-family: Montserrat;
}
.reverse tree-node-expander {
  order: 0;
}
.reverse tree-node-checkbox {
  order: 1;
}
.reverse .node-content-wrapper {
  order: 2;
}
.root1Class { color: blue }
.root2Class { color: red }
